@model MediaTech.ViewModel.SPKLUViewModel


<form asp-action="Create" class="form form-horizontal" id="form-input">
    <div class="modal-header">
        <h5 class="modal-title">Input Data SPKLU</h5>
    </div>
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="SPKLUName" class="col-form-label col-4"></label>
            <input asp-for="SPKLUName" class="form-control col-8" />
            <span asp-validation-for="SPKLUName" class="offset-4 col-8 text-danger"></span>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-4"> SKPLU Status</label>
            <label class="form-check-label col-8">
                <input class="form-check-input" asp-for="Status" /> Active
            </label>
        </div>
        <div class="form-group  row">
            <label class="col-form-label col-4">SPKLU Type</label>
            <label class="form-check-label col-8">
                <input class="form-check-input" asp-for="IsACType" /> AC Types
            </label>
        </div>
        <div class="form-group row">
            <label asp-for="Alamat" class="col-form-label col-4"></label>
            <textarea asp-for="Alamat" class="form-control col-8" type="text"></textarea>
            <span asp-validation-for="Alamat" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="MapLocation" class="col-form-label col-4"></label>
            <textarea asp-for="MapLocation" class="form-control col-8" type="text"></textarea>
            <span asp-validation-for="MapLocation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ListJamOperational" class="col-form-label"></label>
            <table id="tblCustomers" class="table" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width:150px">Start At</th>
                        <th style="width:150px">Close At</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListJamOperational.Count > 0)
                    {
                        @foreach (var customer in Model.ListJamOperational)
                        {
                            <tr>
                                <td>@customer.StartAt</td>
                                <td>@customer.FinishAt</td>
                                <td><input type="button" value="Remove" onclick="Remove(this)" /></td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td><input type="time" id="txtStartAt" /></td>
                        <td><input type="time" id="txtFinishAt" /></td>
                        <td><input type="button" id="btnAdd" value="Add" /></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="modal-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            <button type="button" class="btn btn-bg-dark text-white" id="btn-cancel">Cancel</button>
        </div>
    </div>
</form>
@await Html.PartialAsync("_ValidationScriptsPartial");

