@model MediaTech.ViewModel.SPKLUViewModel


<form asp-action="Delete" class="form form-horizontal" id="form-input">
    <div class="modal-header">
        <h5 class="modal-title">Delete Data SPKLU ?</h5>
    </div>
    <div class="modal-body" style="pointer-events:none">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="SPKLUId" type="hidden" class="form-control col-8" />
        <div class="form-group row">
            <label asp-for="SPKLUName" class="col-form-label col-4"></label>
            <input asp-for="SPKLUName" class="form-control col-8" />
            <span asp-validation-for="SPKLUName" class="offset-4 col-8 text-danger"></span>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-4"> SKPLU Status</label>
            <label class="form-check-label col-8">
                <input class="form-check-input" asp-for="Status" /> Active
            </label>
        </div>
        <div class="form-group  row">
            <label class="col-form-label col-4">SPKLU Type</label>
            <label class="form-check-label col-8">
                <input class="form-check-input" asp-for="SocketType" /> AC Types
            </label>
        </div>
        <div class="form-group row">
            <label asp-for="Alamat" class="col-form-label col-4"></label>
            <textarea asp-for="Alamat" class="form-control col-8" type="text"></textarea>
            <span asp-validation-for="Alamat" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <button type="button" class="btn btn-bg-dark text-white" id="btn-cancel">Cancel</button>
    </div>
</form>
@await Html.PartialAsync("_ValidationScriptsPartial");