@model IEnumerable<MediaTech.ViewModel.UserViewModel>


<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
           <tr>
               <td>@item.UserId</td>
           </tr>
        }
    </tbody>
</table> 